# Virtual environment folders
venv/
.env/
.venv/
env/
/chroma_educosys_db

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Logs and temp files
*.log
*.tmp
*.swp
